{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between">
    <h2>👥 Liste des Patients</h2>
    <a href="/patients/ajouter/" class="btn btn-primary">+ Ajouter</a>
</div>
<table class="table table-striped mt-3">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Téléphone</th>
            <th>Date Naissance</th>
        </tr>
    </thead>
    <tbody>
        {% for p in patients %}
        <tr>
            <td>{{ p.id_patient }}</td>
            <td>{{ p.nom }}</td>
            <td>{{ p.prenom }}</td>
            <td>{{ p.telephone }}</td>
            <td>{{ p.date_naissance }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}